
h1{
   color: wheat;
   font-family: Roboto Mono, Rubik;
   font-size: 160px;
   text-align: center;
}

p{
    color: wheat;
    font-family: Montserrat;
    font-size: 70px;
    text-align: center;

}
h4{
    color: wheat;
    font-family: Nunito;
    font-size: 20px;

}
img{
    height: 500px;
    width: 550px;
    motion-rotation: reverse;
}
html{
    scroll-behavior: smooth;
}

#section2{
    height: 000px;
    background-color: #373333;
 }

 #section1{
    height: 000px;
    background-color: #373333;
 }


 h4{
    text-align: center;
    font-size: 40px;
    font-family: Rubik;
 }

 .parallax {
    /* The image used */
    background-image: url("anshita-nair-0rxLLHD1XxA-unsplash.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }   



 body{
    margin: 0px;
    padding: 0px;
    background: #d74e3f;
    font-family: 'Lato', sans-serif;
  }
  
  nav{
    float: none; 
    clear: both;
    width: 30%; 
    margin: 10% auto;
    background: #eee;
  }
  
  nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  nav li{
      float: none; 
    width: 100%;
  }
  
  nav li a{
    display: block; 
    width: 100%; 
    padding: 20px; 
    border-left: 5px solid; 
    position: relative; 
    z-index: 2;
    text-decoration: none;
    color: #444;
    box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box; 
  }
      
  nav li a:hover{ border-bottom: 0px; color: #fff;}
  nav li:first-child a{ border-left: 10px solid #3498db; }
  nav li:nth-child(2) a{ border-left: 10px solid #ffd071; }
  nav li:nth-child(3) a{ border-left: 10px solid #f0776c; }
  nav li:last-child a{ border-left: 10px solid #1abc9c; }
  
  nav li a:after { 
    content: "";
    height: 100%; 
    left: 0; 
    top: 0; 
    width: 0px;  
    position: absolute; 
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.3s ease 0s; 
    z-index: -1;
  }
  
  nav li a:hover:after{ width: 100%; }
  nav li:first-child a:after{ background: #3498db; }
  nav li:nth-child(2) a:after{ background: #ffd071; }
  nav li:nth-child(3) a:after{ background: #f0776c; }
  nav li:last-child a:after{ background: #1abc9c; }
  
  
  
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
  }

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
  

  * {
    margin: 0;
    padding: 0;
}

.rightnav {
    width: 30%;
    text-align: right;
}

.firstsection {
    background-color: #3498db;;
    height: 650px;
    
}

.secondsection {
    background-color: #ffd071;
    height: 650px;
}

.box1{
  background-color: #1abc9c;
  height: 650px;

}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
}

.firsthalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf {
    width: 30%;
}

.secondhalf img {
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 35px;
}

.text-small {
    font-size: 18px;
}

.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}

.section {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0776c;
}

.section-Left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0px 65px;
}

.center {
    text-align: center;
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

.rightnav {
    width: 100%;
    text-align: right;
    margin-top: 10px;
}

.btn-sm {
    padding: 8px 20px;
    margin: 7px 5px;
}

#web{
    color: rgb(227, 227, 34);
    font-size: 54px;
    font-family:Ubuntu;
}

#program{
    color: rgb(87, 87, 232);
    font-size: 56px;
    font-family: Ubuntu;
}

#Work{
    color: rgb(6, 90, 103);
    font-size: 56px;
    font-family: Ubuntu;
}

#happer{
    color: rgb(5, 88, 88);
    font-size: 56px;
    font-family: Ubuntu;
}










